* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html,
body {
  height: 100%;
}

@font-face {
  src: url('../fonts/OpenSans-Light.ttf');
  font-family: 'Open Sans';
}

.clear {
  clear: both;
}

.center {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 0 2%;
  height: 125px;
  background-color: #000000;
}

.header img {
  margin: 1px;
}

.container-banner {
  width: 100%;
  padding: 0 2%;
  height: 557px;
  background-image: url('../images/Banner2.png');
  background-size: cover;
  background-position: center;
}

.container-banner > .center {
  height: 100%;
}

.form {
  padding: 20px;
  width: 400px;
  height: calc(100% + 30px);
  float: right;
  position: relative;
  top: -15px;
  border-width: 5px;
  border-color: #e0dede;
  border-style: solid;

  background-clip: padding-box;
  /*background-origin tem o mesmo conceito porém serve para imagens.*/
}

.form h2 {
  font-weight: normal;
  color: #e0dede;
  font-size: 21px;
  font-weight: bold;
}

.input-container {
  margin-top: 20px;
}

.input-container span {
  display: inline-block;
  width: 100%;
  color: #e0dede;
  font-size: 17px;
}

.form p {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  font-size: 17px;
  margin: 20px 0;
}

.input-container input[type='text'] {
  margin-top: 8px;
  width: 344px;
  height: 55px;
  border: 1px solid #ccc;
}

.form .input-submit-container {
  text-align: center;
}

.form input[type='submit'] {
  color: white;
  font-size: 25px;
  width: 280px;
  height: 56px;
  display: inline-block;
  background-color: #f01919;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
  border-bottom: 5px solid #ac2525;
  border-radius: 20px;
  align-content: center;
}

.form input[type='submit']:hover {
  background-color: #751c1c;
}

.container-list {
  padding: 30px;
  margin-top: 100px;
  float: left;
  width: 519px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
}
.container-list img {
  width: 100%;
  padding: 0 2%;
  height: 350px;
}

.container-list ul {
  list-style-position: inside;
}

.container-list ul li {
  margin-top: 18px;
  color: white;
}

.container-2 {
  padding: 40px 2%;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.container-2 h2 {
  font-weight: normal;
  color: white;
  font-weight: bold;
}

.container-2 p {
  width: 100%;
  max-width: 768px;
  margin: 15px 0;
  display: inline-block;
  text-align: justify;
  color: white;
}

.arrow {
  position: relative;
  top: 60px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url('../images/v2.png');
  background-size: 100% 100%;
  font-weight: bold;
}

.section-1 {
  padding: 90px 2%;
}

.section-1 h2 {
  text-align: center;
  color: #000000;
  font-weight: normal;
  font-weight: bold;
}

.container-section {
  margin-top: 40px;
  text-align: center;
}

.container-single {
  float: left;
  width: 33.3333%;
  padding: 30px;
  font-weight: bold;
}

.container-single p {
  display: inline-block;
  text-align: justify;
  padding: 10px;
}

.container-single img {
  width: 70px;
}

.footer {
  /*clear:both;*/
  border-top: 2px solid #000000;
  padding: 20px 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

.footer p {
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {
  .header {
    height: auto;
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .header img {
    margin: 0;
  }

  .container-list {
    padding: 30px 0;
    width: 40%;
    float: left;
    display: inline-block;
    max-width: 500px;
    height: auto;
  }

  .container-banner {
    width: 100%;
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  .form {
    max-width: 400px;
    padding: 10px;
    width: 60%;
    height: 100%;
    float: right;
    top: 0;
  }

  .input-container input[type='text'] {
    width: 100%;
    height: 55px;
  }

  .form input[type='submit'] {
    max-width: 280px;
    height: 56px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container-2 {
    padding-right: 4%;
    padding-left: 4%;
  }
  .container-list {
    margin-top: 0;
    float: none;
    display: inline-block;
    width: 100%;
  }

  .form {
    float: none;
    display: inline-block;
    width: 90%;
    margin-top: 30px;
  }

  .container-single {
    float: none;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: 30px 0;
  }
}
